body {
  background-color: #1b1924;
  margin: 0;
  color: white;
}

.page-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}

.container {
  position: relative;
  width: 40%;
  margin: 10px;
  background-color: #b5c1b4;
  padding: 2em;
}

h1 {
  text-align: center;
  color: #b5c1b4;
}

.container h1 {
  margin: 0;
  color: #3f3232;
}

p {
  color: #3f3232;
}

button {
  background-color: #74593d;
  margin-top: 2em;
  border: none;
  padding: 1em;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: #424242;
}

button:active {
  background-color: #dcd9c6;
}

.svg {
  width: 200px;
  position: absolute;
  top: -40px;
  left: -30px;
  pointer-events: none;
}

.hide {
    display: none;
}
